<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cd.com.ermapper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ERDraw"
            android:label="@string/title_activity_erdraw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateEntity"
            android:label="@string/title_activity_create_entity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FXApplicationMain"
            android:label="@string/title_activity_fxapplication_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>